streamlit
notion-client
pandas
python-dotenv
sentence-transformers
firebase-admin
google-cloud-firestore
supabase
psycopg2-binary
flask
flask_sqlalchemy
flask_login
flask_wtf
email_validator
qrcode
pillow
gunicorn
